<center>
<div>
	<a href = "<%=users_new_path%>"> Add New User</a>
	<span>|</span>
	<a href = "<%=users_list_path%>"> List User</a>
</div>

<div>
	<a href = "<%=vehicle_new_path%>"> Add New Vehicle</a>
	<span>|</span>
	<a href = "<%=vehicle_list_path%>"> List Vehicle</a>
</div>

<div>
	<a href = "<%=ride_offer_path%>"> Offer New Ride</a>
</div>

<div>
	<a href = "<%=ride_list_path%>"> Select Offered Ride</a>
</div>
<div>
	<a href = "<%=ride_stats_path%>"> View Ride Stats</a>
</div>

</center>